<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">  <!-- we can put in as relative path = './css/style.css' -->
        <script src="./js/app.js"></script>             <!-- Or absolutly path = '/css/style.css' as the public folder is the root path -->
    </head>                                             
    <body>
        {{>header}}
        <p>This site create by kookkoo, it use data from mapbox</p>
        {{>footer}}
    </body>
</html>